{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2"><img src="{{ detection.image.url }}" width="650"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                감지된 시간
                {{ detection.detection_time }}
            </div>
            <div class="card-text" style="white-space: pre-line;">
                머문시간(이미지나 머문시간이  None으로 처리)
                {{ detection.elapsed_time }}
            </div>
        </div>
    </div>
</div>
{% endblock %}